@media only screen and (max-width : 1024px) {
	.grid-sizer, .grid-item {
	 	width: 33.3333%!important;
	}
}

@media only screen and (max-width : 768px) {
	.grid-sizer, .grid-item {
	 	width: 50%!important;
	}
}

@media only screen and (max-width : 550px) {
	.grid-sizer, .grid-item {
  		width: 100%!important;
	}

}